<!DOCTYPE html>
<html lang="en">
<head>
	<{include file="tpl/head.tpl"}>
	<{include file="tpl/style.tpl"}>
</head>
<body>
<{include file="tpl/nav.tpl"}>
<div class="container-fluid" style="margin-top:20px">
<div>
	<a href="/index.php?m=master&c=User&a=pass" target="_self">修改密码</a></th>
</div>
<table>
	<thead>
		<th>
		<th></th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>

<{include file="tpl/script.tpl"}>
</body>
</html>