<!DOCTYPE html>
<html lang="en">
<head>
	<{include file="tpl/head.tpl"}>
	<{include file="tpl/style.tpl"}>
</head>
<body>
<{include file="tpl/nav.tpl"}>
<div class="container-fluid">
	<table class="table table-striped">
	  <caption><h2><{$title}></h2></caption>
	  <thead>
	    <tr>
	      <th class="hiddenonoff">RECORDID</th>
	      <th>编辑</th>
	      <th class="hiddenonoff">创作类型</th> 
	      <th class="hiddenonoff">网站</th>
	      <th class="hiddenonoff">错误日期</th>
	      <th>文章ID</th>
	      <th>错误</th>      
	      <th class="hiddenonoff">分值</th>      
	      <th>状态</th>
	    </tr>
	  </thead>
	  <tbody>
	  	<{foreach from=$errorlist item=el}>
        <tr id="<{$el.record_id}>">
          <td class="hiddenonoff"><{$el.record_id}></td>
          <td><{$el.nick}></td>
          <td class="hiddenonoff"><{$el.indite_name}></td>          
          <td class="hiddenonoff"><{$el.web_name}></td>
          <td class="hiddenonoff"><{$el.day}></td>
          <td><{$el.article_id}></td>          
          <td><{$el.requirement}></td>
          <td class="hiddenonoff"><{$el.score}></td>
          <td style="align:center;">
            <{if $el.sign eq 1}>
            <span style="color:green">已签收</span>
            <{elseif $el.user_id eq $userinfo.user_id}>
                <button class="btn btn-success sign" data-id="<{$el.record_id}>">签收</button>
            <{else}>
                <span style="color:red">未签收</span>
            <{/if}>            
          </td>
        </tr>
    	<{/foreach}>
    	<tr>
        <td colspan="11" style="text-align:center">
          <div class="pagelist" id="pagelist"> 
            <{$pagelist}>
          </div>
        </td>
      </tr>
	  </tbody>
	</table>
</div>
<script>
	$('.sign').click('on',function(){
      var msg = "确认签收"; 
      if (confirm(msg)==true){ 
          record_id = $(this).attr('data-id');
          $.ajax({
              type:'GET',
              url:'/index.php?m=master&c=Error&a=dosign&record_id='+record_id,
              success:function(data){
                if (data == 1) {
                	window.location.reload();
                }                
              },
              error:function(){
              }
          });
      }else{
        return false;
      }      
  });
</script>
<{include file="tpl/script.tpl"}>
</body>
</html>